
.shop {
    background: rgba(255, 234, 13, 0.1);
    background: url("../../images/bg-shop.jpg") top center/cover fixed;
    padding: 30px;
    border-top: 3px solid white;
    border-bottom: 3px solid white;
}



.shop_container {
    max-width: 1440px;
    margin: 0 auto;
    text-align: center;
    min-height: calc(100vh - 50px - 80px);
}

.shop_title {
    font-size: 60px;
}