
.shop {
    background: url("../../images/bg-shop.jpg") top center/cover no-repeat;
}

.shop_container {
    max-width: 1440px;
    margin: 0 auto;
    text-align: center;
    padding: 30px 0;
}

.shop_title {
    font-size: 60px;
}