.cart {
    position: sticky;
    z-index: 5;
    top: 20px;
    right: 40px;
    margin-left: auto;
    background-image: linear-gradient(135deg, #bac55a 0%, #da960c 80%);
    width: 75px;
    height: 70px;
    border: 2px solid white;
    border-radius: 50%;
    padding: 10px;
}

.cart_quantity {
    position: absolute;
    left: 27px;
    top: 20px;
    color: white;
}
