.feedback {
    min-height: calc(100vh - 50px - 80px);
    background: url("../../images/bg-feedback.jpg") top center/cover no-repeat;
    border-top: solid 3px white;
    border-bottom: solid 3px white;
}

.feedback_container {
    margin: 0 auto;
    max-width: 1440px;
}

.form {
    display: flex;
    margin: 50px 5px 0;
    padding: 10px;
    flex-direction: column;
    max-width: 600px;
    border:3px solid white;
    border-radius: 10px;
}

.form_title {
    text-align: center;
    color: white;
    font-family: sans-serif;
}


.form_input {
    margin: 10px 0;
    border: 3px solid white;
    border-radius: 5px;
    font-size: 20px;
    width: 100%;
    background-color: transparent;
    color: white;
    line-height: 40px;
    padding: 0 10px;
}

.form_text:focus, .form_input:focus {
    outline: 2px solid white;
}


.form_text::placeholder, .form_input::placeholder {
    color: white;
}

.form_text {
    resize: vertical;
    background-color: transparent;
    border: 3px solid white;
    border-radius: 5px;
    min-height: 150px;
    padding: 10px;
    color: white;
    font-size: 20px;
}

