.info {
    background: url("../../images/bg-info.jpg") top center/cover no-repeat;
    border-top: 3px solid white;
}

.info_container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    max-width: 1440px;
    margin: 0 auto;
    text-align: center;
    min-height: calc(100vh - 50px);
}


.info_title {
    text-shadow: 2px 2px 4px black;
    text-transform: uppercase;
    padding: 20px;
    color: white;
}

.info_name {
    align-items: start;
    font-size: 50px;
}


.info_description {
    margin-top: 40px;
    color: white;
    font-size: 25px;
}

.info_slogan{
    margin-top: 20px;
    font-size: 20px;
    color: #d7dc22;
}

.info_video {
    margin: 30px 0 40px;
}
.info_iframe {
    width: 560px;
    height: 315px;
}

.info_iframe {
    border: 3px solid white;
    border-radius: 10px;
}




@media screen and (max-width: 768px) {

    .info_name {
        font-size: 6.51vw;
    }

    .info_description{
        font-size: 3.26vw;
    }

    .info_slogan{
        font-size: 2.7vw;
    }

    .info_iframe {
        width: 91.15vw;
        height: 51.30vw;
    }

    .info_video {
        margin: 3.91vw 0 5.21vw;
    }

}