.event {
    background: url("../../images/bg-event.jpg") top center/cover fixed;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    position: relative;
    border-bottom: 4px solid white;
    border-top: 4px solid white;
    min-height: calc(100vh - 50px - 80px);
    padding: 60px 10px 40px;
}

.event_container {
    min-height: calc(100vh - 50px - 80px);
}
