.header {
    display: flex;
    padding: 0 60px;
    background-color: #2a2a2a;
    min-height: 50px;
    flex-wrap: wrap;
}
.header_logo {
    display: flex;
}

.header_logo > img{
    width: 127px;
    height: 50px;
    padding: 7px;
}


.header_nav {
    margin-left: auto;
}

.header_nav-list {
    display: flex;
    flex-wrap: wrap;
}

.header_nav-item {
    list-style-type: none;

}

.header_nav-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    min-height: 50px;
    color: white;
    text-decoration: none;
}

.header_nav-link:hover {

    border-bottom: 5px solid #ffe116;
    font-size: 18px;
    transition: 0.3s;
}