.footer {
    background-color: #2a2a2a;
    color: white;
}

.footer_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 50px;
    height: 80px;
}